<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888367631479-tn6um5vc3pgv6ff73o9vdijta4npct98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888367631479-tn6um5vc3pgv6ff73o9vdijta4npct98</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>888367631479-8vpjnnkqb98mul1qffhh3til3i9gapc7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNz9LLNxxIWmXSEA3Lm36y4YlZGp2iqSo</string>
	<key>GCM_SENDER_ID</key>
	<string>888367631479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abasukonsult.abasu-app</string>
	<key>PROJECT_ID</key>
	<string>abasu-9af49</string>
	<key>STORAGE_BUCKET</key>
	<string>abasu-9af49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888367631479:ios:5711045dae056d1a630a72</string>
</dict>
</plist>